.heart {
    color: red;
}

.game {
    border: 2px red solid;
}


.gameClass {
    display: flex;
    flex-direction: column;
  flex-wrap: wrap;
    text-align: center;

}

#gH1{
    text-align: center;
}
