
.heart {
    color: red;
}

.game {
    border: 2px red solid;
}

#fav{
      border: 2px green solid;
    
}

.gameClass {
      display: flex;
    flex-direction: row;
align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
 text-align: center;
 
}

.hide {
    display: none;
}



#gH1 {
    text-align: center;
}


